<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> <ion-back-button defaultHref="/produits"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedProduit.nom}}</ion-title>
    <ion-buttons slot="primary">
       <ion-button (click)="onDeleteProduit()">
         <ion-icon name="trash" slot="icon-only"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title><h1>{{loadedProduit.nom}}</h1></ion-card-title>
      <ion-card-subtitle > Prix :  {{loadedProduit.prix}} € </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

          <h1 text-center> composants : </h1>
          <hr>

         <ion-list>
          <ion-item *ngFor="let cp of loadedProduit.composants" >
            {{cp}} 
          </ion-item> 
         </ion-list>
  
   
    </ion-card-content>

    
      <ion-img [src]="loadedProduit.imageUrl"></ion-img>  
   
  </ion-card>

</ion-content>

