  <ion-item [routerLink]="['/produits',produitItem.id]" routerDirection="forward">
    <ion-avatar slot="start">
      <ion-img [src]="produitItem.imageUrl"></ion-img>
    </ion-avatar>
    <ion-label> {{ produitItem.nom}} </ion-label>
  </ion-item>


