<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajouter Produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Nouveau Produit : 
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating"> Nom </ion-label>
        <ion-input [(ngModel)]="nom" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Prix </ion-label>
        <ion-input [(ngModel)]="prix" type="number" id="prix"></ion-input>
      </ion-item>
      <br>
      
        <div class="ion-margin-buttom">
          <ion-button fill="outline">
            <ion-icon name="close" slot="start" ></ion-icon>
            Annuler</ion-button>
          <ion-button (click)="onAddProduit()">
            <ion-icon name="add" slot="start"></ion-icon>
            Ajouter</ion-button>
        </div>
        
   
      
    </ion-card-content>
  </ion-card>

</ion-content>
