<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col size-md="6" offset-md="3">
    <ion-card>
      <ion-card-header>
        <h1>Liste des produits</h1>
      </ion-card-header>
          <ion-card-content>
        <ion-list>
          <app-produit-item *ngFor = "let p of produits" [produitItem]="p">
          </app-produit-item>
         </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-col>
  
    <ion-content padding>
      <ion-button (click)="onAddProduitButton()" color="primary"  expand="block">
        <ion-icon name="add-circle-outline"></ion-icon>
        Ajouter produit
      </ion-button>
    </ion-content>
       
    
   

  
 


</ion-content>

